.wrap {
	width: 100%;
	height: 53px;
	display: flex;
	background-color: #cbaf87;
	border-bottom: #30475e 1px solid;
}

.image {
	position: relative;
	top: 10px;
	left: 10px;
	width: 31px;
	height: 31px;
}

.imageUndo {
	position: absolute;
	left: 105px;
}

.imageRedo {
	position: absolute;
	left: 137px;
}

.withOpacity {
	opacity: 0.4;
}

.imageHoverUndo:hover {
	top: 9px;
	left: 104px;
	width: 33px;
	height: 33px;
	cursor: pointer;
}

.imageHoverRedo:hover {
	top: 9px;
	left: 136px;
	width: 33px;
	height: 33px;
	cursor: pointer;
}